nav
{
  padding:0px 50px;
}
@media (max-width:500px)
{
  nav{
    padding:0px 5px;
  }
}
.flex
{
  display: flex;
}
.material-icons
{
  vertical-align: middle!important;
}
.pagination
{
  display: flex;
  justify-content: center;
}
.login-form-container
{
  display: flex;
  min-height:100vh;
  padding:10px 0px;
}
.login-btn-container
{
  display: flex;
  justify-content: flex-end;
}
.login-btn-container button
{
  margin:20px 0px;
}
.bold
{
  font-weight: bold;
}
.login-form
{
  margin:auto;
  padding:30px 20px 5px 20px;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
}
.login-form .input-field
{
  margin-top: 30px;
}
@media (max-width:560px)
{
  .login-form
  {
    margin:0px auto;
  }
}
.content-container
{
  min-height: 100vh;
  padding:20px 0px;
}


/*register*/
.Create-Acc-container
{
  display: flex;
  min-height: 100vh;
  padding:40px 20px;
}
.create-acc-form
{
  width: 500px;
  margin:auto;
}
.form-error
{
  text-align: center;
}

/*previous events*/
.previous-events-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-top: 20px;
  padding-bottom:20px;
}
@media (max-width:950px)
{
  .previous-events-container
  {
    justify-content: space-around;
  }
}
.previous-events-container .card
{
  margin:20px;
  width:400px!important;
}
.bottom-btn-more
{
  display: flex;
  justify-content: space-between;
}
.delete-event-btn:hover
{
  transform: rotateY(180deg);
}
.delete-event-btn
{
  cursor: pointer;
  color: #f5f5f5;
  transform: rotateX(180deg);
  transition: transform .5s;
}

/*create event*/
.create-event-container
{
  display: flex;
  min-height: 100vh;
}
.create-event-form
{
  margin:auto;
  width: 500px;
  padding:20px;
}
@media (max-width:500px)
{
  .create-event-form
  {
    padding:5px;
  }
}

.criterias
{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  padding:20px 0px;
}
.criterias p
{
  margin:10px;
  border-radius: 5px;
  padding:6px 12px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}
.criteria-form-container
{
  padding:20px 0px;
}
.criterias p i
{
  margin-left: 20px;
  color: #ccc;
}
@media (max-width:500px)
{
  .criterias p i
  {
    margin-left:5px;
  }
  .criterias p label
  {
    font-size: 13px!important;
  }
}
.criterias p i:hover
{
  cursor: pointer;
  color:grey;
}

.save-event-btn
{
  width: 100%;
  margin-top: 40px;
}

*{
  box-sizing: border-box;
}
.brand-logo
{
  font-family: 'Pacifico', cursive;
  font-size: 20px!important;
}
@media (max-width:500px)
{
  .brand-logo
  {
    font-size: 17px!important;
  }
}
@media (max-width:450px)
{
  .brand-logo
  {
    font-size: 15px!important;
  }
}
/*index*/
.card-content
{
  height:180px;
  overflow-x: hidden;
  overflow-y: auto;
  padding:10px!important;
}
.event-wrap-name
{
  width: 100%;
}
.card-title
{
  font-size: 17px!important;
}
.card-content th
{
  display: none;
}
.card-content::-webkit-scrollbar {
    width:10px;
}

.card-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.card-content::-webkit-scrollbar-thumb {
  background-color:#0d47a1;
  outline: 1px solid slategrey;
	border-radius: 5px;
}

/*setup*/
.setup-form
{
  width: 540px;
  margin:auto;
  padding:20px;
}
.Contest-Setup-Container
{
  display: flex;
  min-height: 100vh;
}

/*setup index*/
.activity-index-wrap .modal
{
  max-width: 400px!important;
}
.activities-setup-container
{
  display: flex;
  padding:50px 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contestant-prev-container,.judges-prev-container
{
  display: flex;
  flex-direction: column;
}
.contestant-pic-preview
{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.contestant-pic-prev
{
  margin-top: 20px;
  width: 100%;
}
.remove-contestant
{
  cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}
.prev-image
{
  width: 100%;
}
.activities-box
{
  margin:20px;
  min-width: 300px!important;
}
@media (max-width:500px)
{
  .activities-setup-container
  {
    padding:5px;
  }
  .activities-box
  {
    margin:5px;
  }
}
.activities-box .card-content
{
  max-width: 420px;
  height:320px;
}
.setup-actions
{
  display: flex;
  justify-content: space-between;
}
@media (max-width:420px)
{
  .setup-actions
  {
    flex-direction: column;
  }
}

.setup-btns-container
{
  display: flex;
  flex-wrap: wrap;
}
.criteria-and-percent-container
{
  margin-bottom: 10px;
  border-radius: 3px;
}
.white-bottom input.select-dropdown
{
  border-bottom: 1px solid #B4D7F6!important;
}
.white-bottom
{
  border-color: #B4D7F6!important;
}
.Rating-Create-Container
{
  min-height: 100vh;
  padding:50px 100px;
  display: flex;
}
.relativetd
{
  position: relative;
  display: flex;
}
.max-rating
{
  font-size: 13px;
  position: absolute;
  top: 50px;
  right: 0;
}
.event-title-text
{
  margin-bottom: 50px;
  margin-top: 30px;
}
.used-pecentage
{
  margin:40px 20px 20px 20px;
  display: flex;
  justify-content: flex-end;
}
.used-pecentage h5
{
  margin-left: 20px;
}
.criteria-percentage-wrap,.other-activity-form-top
{
  padding: 20px 15px;
}
.other-activity-form-top
{
  margin-bottom: 30px;
}
.setup-form button
{
  margin-top: 20px;
  margin-bottom: 50px;
}
.setup-form .input-field .prefix.active
{
  color: #fff;
}

.rating-navs
{
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  background-image: url();
}
.rating-card-title p
{
  font-size: 18px;
  text-transform:uppercase;
  margin: auto 0;
}
@media (max-width:500px)
{
  .rating-card-title p
  {
    font-size: 15px;
  }
}
@media (max-width:400px)
{
  .rating-card-title p
  {
    font-size: 14px;
  }
}
.rating-card-title h6 img
{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
#picture-prev-modal
{
  max-width: 360px;
}
#picture-prev-modal img
{
  margin:0 auto;
}
@media (max-width:500px)
{
  #picture-prev-modal img
  {
    width: 200px;
    height: 200px;
  }
}
.image-wrapper
{
  display: flex;
  justify-content: center;
}

@media(max-width:640px)
{
  .Rating-Create-Container
  {
    padding:20px;
  }
  .rating-navs
  {
    margin-top: 30px;
  }
}
@media(max-width:500px)
{
  .Rating-Create-Container
  {
    padding:5px 5px 25px 5px;
  }

}

.loader-container
{
  height:20px;
  display: block;
}
.rating-card-title
{
  display: flex;
  justify-content: space-between;
}
.rating-table-container
{
  max-width: 500px;
  padding:0px;
  margin:0 auto;
  position: relative;
}
.rating-table-container .progress
{
  position: absolute;
  top: -10px;
}
.rating-table-padding
{
  padding:20px;
}
.not-found
{
  margin:200px auto;
  text-align: center;
  font-size: 18px;
}
.found-container
{
  margin:auto;
  width: 100%;
}

.found-container h5
{
  font-size:20px;
}
.found-container > h6
{
  text-transform: uppercase;
}
@media (max-width:500px)
{
  .found-container > h5
  {
    text-align: center;
  }
  .found-container > h6
  {
    text-align: center;
  }
  .predictionOpener
  {
    margin:0 auto!important;
  }
  .prediction-wrap
  {
    display: flex;
    justify-content: center;
  }
  .rank-predict-table-container table
  {
    font-size: 13px!important;
    font-weight: 600;
  }
}
.rank-predict-table-container table tr:nth-child(odd)
{
  background: #e0e0e0;
}

/*results*/
.results-container
{
  padding:50px 60px;
}
@media (max-width:920px)
{
  .results-container
  {
    padding:10px;
  }
}
.results-table-container.show
{
  display: block;
}
.results-table-container
{
  margin-top: 50px;
  display: none;
}
.showbtn
{
  display: inline-block;
  cursor: pointer;
}
.contestant-name
{
  min-width: 150px;
}
.ranking-table-container
{
  margin-top: 50px;
}


/*account management css*/
.Account-manager-container
{
  padding: 50px;
}
@media (max-width:500px)
{
  .title-of-page
  {
    text-align: center;
  }
  .Account-manager-container
  {
    padding:5px;
  }
}
.accounts-table-container td i:hover
{
  color: #1E88E5;
}
.accounts-table-container td i
{
  margin:5px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.vue-image-crop-upload .vicp-wrap
{
  width: auto!important;
  max-width: 500px;
}
.vue-image-crop-upload .vicp-wrap .vicp-operate
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-left
{
  margin:0 auto;
}
.vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop
{
  display: flex;
  justify-content: center;
}
