nav
{
  padding:0px 50px;
}
.flex
{
  display: flex;
}
.material-icons
{
  vertical-align: middle!important;
}
.login-form-container
{
  display: flex;
  min-height:100vh;
}
.bold
{
  font-weight: bold;
}
.login-form
{
  margin:auto;
  padding:20px 30px;
  width: 400px;
  border-radius: 5px;
}
@media (max-width:560px)
{
  .login-form
  {
    margin: 10px;
  }
}
.content-container
{
  min-height: 100vh;
}


/*register*/
.Create-Acc-container
{
  display: flex;
  min-height: 100vh;
  padding:40px 20px;
}
.create-acc-form
{
  width: 500px;
  margin:auto;
}
.form-error
{
  text-align: center;
}

/*previous events*/
.previous-events-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-top: 20px;
  padding-bottom:20px;
}
@media (max-width:950px)
{
  .previous-events-container
  {
    justify-content: space-around;
  }
}
.previous-events-container .card
{
  margin:20px;
  width:400px!important;
}
.bottom-btn-more
{
  display: flex;
  justify-content: space-between;
}

/*create event*/
.create-event-container
{
  display: flex;
  min-height: 100vh;
}
.create-event-form
{
  margin:auto;
  width: 500px;
  padding:20px;
}
.criterias
{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  padding:20px;
}
.criterias p
{
  margin:10px;
}
.save-event-btn
{
  width: 100%;
  margin-top: 40px;
}

*{
  box-sizing: border-box;
}
.brand-logo
{
  font-family: 'Pacifico', cursive;
}
@media (max-width:500px)
{
  .brand-logo
  {
    font-size: 17px!important;
  }
}
/*index*/
.card-content
{
  height:180px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*setup*/
.setup-form
{
  width: 540px;
  margin:auto;
  padding:20px;
}
.Contest-Setup-Container
{
  display: flex;
  min-height: 100vh;
}


/*setup index*/
.activities-setup-container
{
  display: flex;
  padding:50px 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.activities-box
{
  margin:20px;
}
.activities-box .card-content
{
  width: 410px;
  height:320px;
}
.setup-actions
{
  display: flex;
  justify-content: space-between;
}
.setup-actions a
{
  margin-left: 15px;
}

.Rating-Create-Container
{
  min-height: 100vh;
  padding:50px 100px;
  display: flex;
}

.rating-navs
{
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.loader-container
{
  height:20px;
  display: block;
}
.rating-card-title
{
  display: flex;
  justify-content: space-between;
}
.rating-table-container
{
  max-width: 500px;
  padding:0px;
  margin:0 auto;
  position: relative;
}
.rating-table-container .progress
{
  position: absolute;
  top: -10px;
}
.rating-table-padding
{
  padding:20px;
}
.not-found
{
  margin:200px auto;
  text-align: center;
  font-size: 18px;
}
.found-container
{
  margin:auto;
  width: 100%;
}

/*results*/
.results-container
{
  padding:50px 60px;
}
@media (max-width:920px)
{
  .results-container
  {
    padding:10px;
  }
}
.results-table-container
{
  margin-top: 50px;
}
.ranking-table-container
{
  margin-top: 50px;
}
